@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flip-green {
  0% {
    transform: rotateY(0deg);
    @apply bg-neutral-500;
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
    @apply bg-green-700;
  }
}

@keyframes flip-orange {
  0% {
    transform: rotateY(0deg);
    @apply bg-neutral-500;
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
    @apply bg-orange-400;
  }
}

@keyframes flip-gray {
  0% {
    transform: rotateY(0deg);
    @apply bg-neutral-500;
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
    @apply bg-neutral-800;
  }
}

@keyframes to-green {
  0% {
    @apply bg-neutral-500;
  }
  99% {
    @apply bg-neutral-500;
  }
  100% {
    @apply bg-green-700;
  }
}

@keyframes to-orange {
  0% {
    @apply bg-neutral-500;
  }
  99% {
    @apply bg-neutral-500;
  }
  100% {
    @apply bg-orange-400;
  }
}

@keyframes to-gray {
  0% {
    @apply bg-neutral-500
  }
  99% {
    @apply bg-neutral-500
  }
  100% {
    @apply bg-neutral-800
  }
}

@keyframes to-transparent {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
